{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-12 col-md-3">
            One of three columns
        </div>
        <div class="col-12 col-md-6">
            One of three columns
        </div>
        <div class="col-12 col-md-3">
            One of three columns
        </div>
    </div>

{% endblock %}
