<header class="row justify-content-between">
    <div class="col-4">
        <div>
            LOGO
        </div>
    </div>
    <div class="col-4">
        <form>
            <input type="search" placeholder="Search..." />
            <button class="btn" type="submit">
                CERCA
            </button>
        </form>
    </div>
</header>